{% extends 'main.html' %}
{% load static %}
{% block menu %}
{% include "menus.html" with active_tab='home' %}
{% endblock %}
{% block content %}
<div class="slider_wrapper">
	<div id="camera_wrap" class="">
		{% for bannerInfo in banner %}
		<div data-src="{{ bannerInfo.image.url }}">
			<div class="caption fadeIn">
				<div class="title">{{ bannerInfo.title }}</div>
				{{ bannerInfo.desc|safe }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!--=====================Content======================-->
<div class="block1">
	<div class="container">
		<div class="row">
			<div class="grid_12">
				<div class="rel">
					<p>
					Hi! I’m Katrine Dove. Photography is a passion of mine. Let me use my talent & professionalism to capture the precious moments of your life.
					</p>
					<a href="#" class="btn bt__1">Hire Me</a>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content">
	<div class="container"><div class="ic">More Website Templates @ TemplateMonster.com - May 05, 2014!</div>
		<div class="row">
			<div class="grid_12">
				<h2>Portfolio</h2>
				<div class="gallery">
					<div class="row">
						{% for catInfo in category%}
						<div class="grid_4">
							<a href="{{ catInfo.image.url }}" class="gal_item">
								<img src="{{ catInfo.image.url }}" alt="">
								<div class="gal_caption">{{ catInfo.title }}</div>
								<span class="gal_magnify"></span>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="grid_4">
				<h3 class="mb__0">Equipment</h3>
				<div class="block2">
					<div class="block2_title color1">Camera</div>
						<ul class="list">
						<li><a href="#">Lorem ipsum dolorertolo </a></li>
						<li><a href="#">Git met consecteturert </a></li>
						<li><a href="#">Odipiscing elit mollis erat</a></li>
					</ul>
				</div>
				<div class="block2">
					<div class="block2_title color1">Lighting</div>
					<ul class="list">
						<li><a href="#">Lorem ipsum dolorilomo </a></li>
						<li><a href="#">Aconsectetur teroloter </a></li>
						<li><a href="#">Sdipiscing elitmollis erat </a></li>
					</ul>
				</div>
			</div>
			<div class="grid_4">
				<h3>About me</h3>
				<p>Need more information about this thingummy? Follow the <span class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">link</a></span>.</p>
				<p>Choose <span class="color1"><a href="http://www.templatemonster.com/properties/topic/design-photography/" rel="nofollow">designs</a></span> of this kind at TemplateMonster’s website.</p>
				Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsanInteger convallis orci vel mi laoreet, at ornare lorem consequatasellus erat nisl<br>
				<a href="#" class="btn bt__2">Read More</a>
			</div>
			<div class="grid_4">
				<h3>Publications</h3>
				<ul class="list1">
					<li>
						<div class="list_count">1</div>
						<div class="extra_wrapper">
							<div class="list1_title color2"><a href="#">“Lorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
							<a href="#" class="color1 td_und">More</a>
						</div>
					</li>
					<li>
						<div class="list_count">2</div>
						<div class="extra_wrapper">
							<div class="list1_title color2"><a href="#">“Dorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
							<a href="#" class="color1 td_und">More</a>
						</div>
					</li>
					<li>
						<div class="list_count">3</div>
						<div class="extra_wrapper">
							<div class="list1_title color2"><a href="#">“Kerem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
							<a href="#" class="color1 td_und">More</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<h3 class="head1">Multimedia</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="owl">
		{% for ranInfo in random %}
		<div class="item"><img src="{{ ranInfo.image.url }}" alt=""></div>
		{% endfor %}
	</div>
</section>
{% endblock %}